head

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width')

    block head

    title= pageTitle || ''
    meta(name='description' content=pageDescription || '')
    meta(name='keywords' content=pageKeywords || '')

    script(src='js/modernizr.min.js')
    include ../partials/styles.jade
