+b.NAV.nav

    h2.hidden-text Категории товаров

    .container

        +e.menu-wrapper

            +menu([
                'Планшеты', 'Мобильные телефоны', 'MP3 плееры', 'Персональные компьютеры',
                'Ноутбуки', 'Аксессуары', 'Бытовая техника'], 1)(menu='_blocks nav__menu')
