
// build:js js/vendor.min.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/wnumb/wnumb.js')
script(src='../bower_components/nouislider/distribute/nouislider.js')
script(src='../bower_components/jquery-details/jquery.details.js')
// endbower
// endbuild

// build:js js/scripts.min.js
script(src='js/scripts.js')
// endbuild

