//- сюда добавляем название файлов js, которые хотим подключить к проекту
//- при конкатенации порядок будет сохранен
-
    var scripts = [
        'form-module',
        'app-module',
        'scripts'
    ];


// build:js js/vendor.min.js
// bower:js
script(src='../bower_components/jquery/dist/jquery.js')
script(src='../bower_components/wnumb/wnumb.js')
script(src='../bower_components/nouislider/distribute/nouislider.js')
script(src='../bower_components/jquery-details/jquery.details.js')
// endbower
// endbuild

// build:js js/scripts.min.js
each src in scripts
    script(src='../app/js/' + src + '.js')
// endbuild

