svg(style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    defs
        symbol(id="icon-rub" viewBox="0 0 785 1024")
            title рублей
            path(class="path1" d="M755.53 157.036c-16.562-42.735-40.689-68.092-66.249-92.015s-70.954-47.028-108.578-55.001c-27.194-6.955-67.067-10.020-118.185-10.020h-397.494v474.378h-65.024v106.325h65.024v43.144h-65.024v106.328h65.024v293.825h113.892v-293.825h408.129v-106.328h-408.129v-43.144h292.602c109.802 0 188.527-30.669 237.601-90.378 46.825-57.048 75.447-106.941 75.447-194.454 0-50.708-14.107-97.33-29.238-139.043l0.2 0.209zM605.854 425.713v0c-28.628 32.715-66.455 48.665-132.704 48.665h-294.031v-365.394h291.784c46.622 0 78.928 3.068 95.487 8.998 27.401 17.381 48.868 30.875 64.821 60.525 16.562 30.875 24.742 67.477 24.742 109.19 0 59.503-23.108 106.325-50.299 138.019h0.2z")
