.main {
    padding-bottom: 30px;

    &__columns {
        @include clearfix();
    }

    &__sidebar-col {
        float: left;
        width: 333px;
    }

    &__content-col {
        float: right;
        width: 743px;
    }
}
