extends ../layouts/default

block head
    - var pageTitle = 'COOLTECH - мобильные телефоны'

block content

    .container

        +b.H2.title Мобильные телефоны

        .main__columns

            .main__sidebar-col
                include ../partials/sidebar

            .main__catalog-col







