.goods {

    &_view_list {

        .goods__list {
            border: 1px solid #dee1e4;
            margin: 0;

            border-radius: 5px;
            background-color: #fff;
        }

        .goods__item {
            display: block;
            width: 100%;
            padding: 0;

            &:not(:last-child) {
                border-bottom: 1px solid #dee1e4;
            }
        }

        .goods__inner {
            display: flex;
            width: 100%;
            padding: 20px;
            border: none;

            background-color: transparent;

            transition: background-color .4s ease, box-shadow .4s ease;

            &:hover {
                background-color: #fbfbfb;
                box-shadow: 0 1px 5.7px 0.3px rgba(118, 118, 118, .75);
            }
        }

        .goods__additional {
            flex-shrink: 0;
            width: 140px;
            margin-bottom: 0;

            vertical-align: top;
        }

        .goods__main {
            flex-grow: 1;
            padding-left: 25px;
            padding-right: 30px;
            border-right: 1px solid #dee1e4;
            margin-bottom: 0;

            text-align: left;
            vertical-align: top;
        }

        .goods__order {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-content: space-between;
            flex-shrink: 0;
            width: 130px;
            padding-left: 25px;

            text-align: right;
            vertical-align: top;
        }

        .goods__gallery {
            margin-bottom: 10px;
        }

        .goods__vendor-code {
            display: block;
        }

        .goods__name {
            margin-bottom: 30px;
        }

        .goods__properties-item,
        .goods__properties-name,
        .goods__properties-val {
            display: inline;
        }

        .goods__properties-item {
            &:nth-child(odd) {
                background-color: transparent;
            }
        }

        .goods__btn {
            float: none;
        }

        .goods__availability {
            display: inline-block;
            float: none;

            vertical-align: middle;
        }

    }

    &_view_table {

        .goods__list {
            border: 1px solid #dee1e4;
            margin: 0;

            border-radius: 5px;
            background-color: #fff;
        }

        .goods__item {
            display: block;
            width: 100%;
            padding: 0;

            &:not(:last-child) {
                border-bottom: 1px solid #dee1e4;
            }
        }

        .goods__inner {
            display: flex;
            align-items: baseline;
            width: 100%;
            padding: 8px 12px;
            border: none;

            font-size: 0;

            border-radius: 0;
            background-color: transparent;
        }

        .goods__additional,
        .goods__main,
        .goods__order {
            margin-bottom: 0;

            font-size: 1rem;
        }

        .goods__main {
            padding-left: 10px;
            padding-right: 10px;
        }

        .goods__order {
            display: flex;
            align-items: center;
            width: 320px;

            text-align: right;
        }

        .goods__gallery {
            display: none;
        }

        .goods__vendor-code {
            display: block;
        }

        .goods__name {
            margin-bottom: 0;
            width: 270px;

            white-space: nowrap;

            overflow: hidden;
            text-overflow: ellipsis;
        }

        .goods__properties {
            display: none;
        }

        .goods__rating {
            display: none;
        }

        .goods__price,
        .goods__order-bottom,
        .goods__btn,
        .goods__availability {
            display: inline-block;
            margin: 0;

            vertical-align: baseline;
        }

        .goods__availability {
            float: none;
            margin-right: 20px;
        }

        .goods__price {
            margin-right: 25px;

            font-size: 18px;
        }

    }

    &__list {
        padding: 0;
        margin: -10px;

        font-size: 0;

        list-style: none;
    }

    &__item {
        display: inline-block;
        width: percentage(1/3);
        padding: 10px;

        font-size: 1rem;
        vertical-align: top;
    }

    &__inner {
        padding: 20px 12px;
        border: 1px solid #dee1e4;

        text-align: center;

        background-color: rgba(255, 255, 255, .6);
        border-radius: 5px;

        transition: box-shadow .4s ease;

        &:hover {
            box-shadow: 0 1px 7.2px 0.8px rgba(153, 153, 153, .75);
        }
    }

    &__additional {
        margin-bottom: 20px;

    }

    &__gallery-display {
        width: 136px;
        height: 136px;
        margin-bottom: 18px;
    }

    &__gallery-thumbnails {
        margin: -9px;
    }

    &__gallery-item {
        padding: 9px;
    }

    &__gallery-switch {
        width: 34px;
        height: 34px;
    }

    &__vendor-code {
        display: none;

        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        color: #7f7f7f;
        text-align: center;
    }

    &__vendor-code-num {
        font-weight: 600;
        font-size: 14px;
        color: $textColor;
    }

    &__main {
        margin-bottom: 12px;
    }

    &__name {
        margin-top: 0;
        margin-bottom: 5px;

        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    &__properties {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;

        list-style: none;
    }

    &__properties-item {
        display: table;
        width: 100%;

        font-size: 14px;
        line-height: 20px;
        color: $textColor;

        &:nth-child(odd) {
            background-color: #e6e6e6;
        }
    }

    &__properties-name {
        display: table-cell;

        text-align: left;
    }

    &__properties-val {
        display: table-cell;

        text-align: right;
    }

    &__price {
        margin-bottom: 10px;

        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        color: $textColor;
    }

    &__order-bottom {
        @include clearfix();
    }

    &__availability {
        position: relative;

        float: left;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;

        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        color: #7f7f7f;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;

            width: 8px;
            height: 8px;
            margin-top: -4px;

            border-radius: 50%;
        }

        &_true {
            &::before {
                background-color: #60ac49;
            }
        }

        &_false {
            &::before {
                background-color: #b5414f;
            }
        }
    }

    &__btn {
        float: right;
    }
}

.no-flexbox {

    .goods {

        &_view_list {

            .goods__inner {
                display: table;
                table-layout: fixed;
            }

            .goods__additional {
                display: table-cell;
            }

            .goods__main {
                display: table-cell;
            }

            .goods__order {
                position: relative;

                display: table-cell;
            }

            .goods__order-bottom {
                position: absolute;
                bottom: 0;
                right: 0;
            }

        }

        &_view_table {

            .goods__inner {
                display: table;
            }

            .goods__additional,
            .goods__main,
            .goods__order {
                display: table-cell;

                vertical-align: baseline;
            }

        }

    }

}
