.menu {
    margin: 0;
    padding: 0;

    font-size: 0;

    list-style: none;

    &_blocks {
        display: flex;
        align-items: center;
        width: 100%;

        .menu__item {
            flex-grow: 1;

            transition: background-color .4s ease;

            &:not(:first-child) {
                margin-left: 0;
            }

            &:not(.menu__item_active):hover {
                color: currentColor;
                background-color: #e4e2e2;
            }

            &_active {
                font-weight: 600;
                color: #fff;

                background-color: $decorColor;
                background-image: linear-gradient(34deg, $decorColor 0%, #ff6e35 100%);

                &:hover {
                    color: #fff;
                }
            }
        }

        .menu__link {
            display: block;
            padding: 17px 15px;

            font-weight: normal;
            text-decoration: none;
            text-align: center;
        }
    }

    &__item {
        display: inline-block;

        font-size: 1rem;
        font-weight: 600;
        vertical-align: top;

        &:not(:first-child) {
            margin-left: 30px;
        }

        &:hover {
            color: $decorColor;
        }

        &_active {
            color: $decorColor;
        }
    }

    &__link {
        font-size: inherit;
        color: inherit;

        transition: color .4s ease;
    }
}
