.range-slider {

    &__inputs-wrapper {
        margin-bottom: 33px;
    }

    &__input {
        height: 30px;

        box-shadow: inset 0 1px 1px rgba(148, 148, 148, 0.43);
    }

    &__widget {
        height: 3px;
        border: none;

        box-shadow: none;
    }

    .noUi-background {
        background-color: #dee1e4;
    }

    .noUi-connect {
        background-color: $decorColor;
    }

    .noUi-handle {
        top: 5px;
        left: -5px;

        width: 10px;
        height: 10px;
        border: none;

        background: $textColor;
        border-radius: 0;
        box-shadow: none;

        &::before {
            top: auto;
            bottom: 100%;
            left: 0;

            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $textColor;

            background: transparent;
        }

        &::after {
            content: none;
        }
    }
}
